<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Sign up</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./static/css/sign_up.css">
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Đăng ký mở tài khoản</h4>
							<form id="register_form" class="my-login-validation" novalidate="">
								<div class="form-group">
									<label for="name">Tên</label>
									<input id="name" type="text" class="form-control" name="name" required="" autofocus="">
									<div class="invalid-feedback">
										Tên bạn là gì?
									</div>
								</div>

								<div class="form-group">
									<label for="email">Email</label>
									<input id="email" type="email" class="form-control" name="email" required="">
									<div class="invalid-feedback">
										Địa chỉ Email không hợp lệ
									</div>
								</div>

								<div class="form-group">
									<label for="password">Mật khẩu</label>
									<input id="password" type="password" class="form-control" name="password" required="" data-eye>
									<div class="invalid-feedback">
										Mật khẩu được yêu cầu
									</div>
								</div>
								<div class="form-group">
									<label for="hospital">Bệnh viện</label>
									<input id="hospital" type="text" class="form-control" name="hospital" required="">
									<div class="invalid-feedback">
										Nhập tên bệnh viện nơi bạn làm việc
									</div>
								</div>

								<div class="form-group">
									<label for="division">Bộ phận</label>
									<input id="division" type="text" class="form-control" name="division" required="">
									<div class="invalid-feedback">
										Nhập tên bộ phận nơi bạn làm việc
									</div>
								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="agree" id="agree" class="custom-control-input" required="">
										<label for="agree" class="custom-control-label">Tôi đồng ý với <a href="#">Các điều khoản và điều kiện</a></label>
										<div class="invalid-feedback">
											Bạn cần đồng ý với các điều khoản để tiếp tục
										</div>
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Đăng ký
									</button>
								</div>
								<div class="mt-4 text-center">
									Đã có tài khoản? <a href="/image">Trở lại</a> <a href="/change_pw">Đổi mật khẩu</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="./static/js/sign_up.js"></script>
</body>
</html>
